body {
  background-color: #eae8e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  width: 595px;
  height: 842px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Header {
  background-color: black;
  width: 100%;
  height: 65px;
}

.Footer {
  background-color: #d9d9d9;
  width: 100%;
  height: 25px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 657px;
  width: 100%;
  gap: 36px;
}

.Poster {
  height: 33.3333%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.Headline {
  width: 100%;
  background-color: #8c8c8c;
  height: 25px;
}

.Text {
  width: 100%;
  background-color: #d9d9d9;
  height: 151px;
}

.Image {
  width: 100%;
  height: 100%;
  background-color: #c8c3c3;
}


