@media print {
    header,
    footer,
    button {
        display: none;
    }

    .poster-detail {
        box-shadow: none;
        padding: 0;
        border: none;
    }

    body {
        background-color: white;
    }
}
