@media print {
  header,
  footer,
  button {
    display: none;
  }

  .poster-detail {
    box-shadow: none;
    padding: 0;
    border: none;
  }

  body {
    background: none !important;
    -webkit-print-color-adjust: exact;
  }

  #print-btn {
    display: none;
  }
}
