html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
figcaption,
dl,
dd,
ul,
ol,
li,
fieldset,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}
